body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  width: 100%;
  height: 325px;
  background-image: url("./images/pattern-bg.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}

.header h1 {
  color: white;
  font-size: 30px;
  margin-bottom: 30px;
}

.header form {
  width: max-content;
  align-self: center;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

#ip-input {
  width: 450px;
  height: 50px;
  border: 0;
  padding: 15px;
}

#ip-submit {
  width: 50px;
  height: 50px;
  border: 0;
  background-color: hsl(0, 0%, 17%);
  color: white;
  font-weight: 700;
  transition: 0.5s;
}
#ip-submit:hover {
  background-color: hsl(0, 0%, 30%);
}

.results {
  width: 70%;
  height: 150px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  position: absolute;
  top: 250px;
  left: 15%;
  z-index: 2;
}

.results-table {
  border-collapse: collapse;
}
.results-table th,
td {
  font-weight: 700;
}
.results-table th:nth-child(1n + 2),
td:nth-child(1n + 2) {
  border-left: 1px solid hsl(0, 0%, 59%);
}
.results-table thead th {
  color: hsl(0, 0%, 59%);
}
.results-table tbody td {
  color: hsl(0, 0%, 17%);
  font-size: 24px;
}

.map {
  height: 45vh;
  z-index: 1;
}

.black-bg {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
}

.loading {
  width: 90px;
  height: 90px;
  position: absolute;
  top: 40vh;
  left: 45%;
  z-index: 3;
  background: white;
  border-radius: 20px;
  box-shadow: 0 0 1000px 100px rgba(0, 0, 0, 0.2);
}
svg {
  position: relative;
  width: 90px;
  height: 90px;
  animation: rotate 2s linear infinite;
}
svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 3;
  stroke: #00a1ff;
  stroke-linecap: round;
  transform: 5px, 5px;
  stroke-dasharray: 200;
  animation: animate 2s linear infinite;
}

@keyframes animate {
  0% {
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dashoffset: 200;
  }
  100% {
    stroke-dashoffset: 400;
  }
}
